@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.info-icon {
  position: fixed;
  right: 30px;
  bottom: 20px;
  font-size: 20px;
  z-index: 1;
}
.info-icon:hover {
  cursor: pointer;
}
.main-container {
  display: flex;
  height: 100vh;
}
.content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.nav-menu {
  overflow-y: auto;
  overflow-x: hidden;
}

.plus-one-input-number {
  width: 100%;
}
.rest {
  overflow: auto;
  max-width: 400px;
}
.rational-wrapper {
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
}
.equal {
  transform: rotate(90deg);
}
.operatorIcon {
  margin-left: 10px;
  margin-right: 10px;
}
.polynomial {
  display: flex;
  align-items: center;
  overflow-y: auto;
  width: 700px;
  padding-bottom: 20px;
  margin-top: 10px;
}
.read-only-polynomial {
  margin-left: 50px;
}
.polynomial-label {
  margin-left: 50px;
}
.monomial {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.fraction {
  display: inline-flex;
  flex-direction: column;
}
.monomial-variable {
  font-size: 20px;
  margin-left: 5px;
  /* margin-right: 5px; */
}
.add-monomial {
  margin-right: 20px;
}
